* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  background-image: url(https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png);
  background-size: cover;
  padding-top: 10px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.songs-container {
  background-color: #152850;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
